body {
    background: #DDDDDD;
}

.navbar {
    background-color: #3700ff;
    color: white;
    z-index: 5;
}

.page-container {
    margin-top: 75px;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.form-control-file{
    font-size: 18px;
    overflow-wrap:normal;
    word-wrap: break-word;
    margin-right: auto;
    margin-left: auto;
    overflow:hidden;
}

/* span.row{
    border: 5px;
    border-color: #800000;
    border-style: solid;
    padding: 10px 5px;
    text-align: center;
    margin: 20px 0px;
} */

/* span{
    border: 5px;
    border-color: #800000;
    border-style: solid;
    padding: 10px 5px;
    text-align: center;
    margin: 20px 0px;
} */

.col h3 {
    color: purple;
    font-weight: bolder;
    white-space: nowrap;
    font-size: 1.17em;
    overflow: hidden;
    width: 20vw;
    display: inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.col div {
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.col {
    padding: 0 5px;
    flex-direction: column;
    display: flex;
}


#roseImg{
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#deleteAccount {
    display: block;
    margin: auto;
    background: darkred;
    color: white;
}

#roseFireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #3700ff;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}


#updateAccount {
    display: block;
    margin: auto;
    background: blue;
    color: white;
    margin-bottom: 50px;
}

#updateSubscription {
    display: block;
    margin: auto;
    background: blue;
    color: white;
    position: relative;
    top: 1px;
    flex-shrink: 0;
    flex-grow: 0;
}

#subInterval{
    top: 4px;
}

#subRenewDate{
    display: block;
    top: 0px;
    bottom: 30px !important;
}

#deleteSubscription {
    font-size: 1.5rem;
    padding: 2px 0px;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 35px;
    width: 50px;
    height: 50px;
    box-sizing:border-box;
    margin-right: auto;
    margin-left: auto;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #800000;
    color: white;
    z-index: 999;
}

#fab:active{
    transform: translateY(2px);
    opacity: 0.8;
}

#signOut{
    display: block;
    margin: auto;
    background: purple;
    color: white;
    margin-bottom: 50px;
}

svg{
    padding-top: 8px;
}


#notifications {
    display: block;
    margin: auto;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

#subscriptionPage.container{
    max-width: 95vw;
}
#mainPage.container{
    max-width: 85vw;
}

#inputImageLabel{
    top: 0;
    bottom: 50px;
    position:relative;
}

#inputDateLabel{
    top: 0;
    bottom: 50px;
    position:relative;
}

#editImageLabel{
    top: 0;
    bottom: 50px;
    position:relative;
}

.btnTest{
    background-color: grey;
}

#subImage{
    text-overflow:initial;
}


.subscription{
    border-width: 5px;
    border-color: #800000;
    border-style: solid;
    padding: 10px 5px;
    text-align: center;
    margin: 20px 0px;
}

#subscriptionPage .col .bmd-form-group{
    padding-top:0;
    height: 41px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
    width: 20vw;
}

#subscriptionPage .col .form-group{
    padding-top:0;
    height: 41px;
    margin: 50px 10px;
    width: 20vw;

}

#subscriptionPage .col .form-control{
    text-align: center;
    position: relative;
    display: block;
    bottom: 30px;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.editCol{
    height:282px;
    box-sizing:border-box;
}

.top-row {
    position: relative;
    bottom: 30px;
}

.date-shift{
    left: 70px;
}

@media (max-width: 510px){
    .container{
        padding-top: 20px;
    }

}

@media (max-width: 576px){
    .form-control-file{
        font-size: 16px;
        height: 40px;
    }

    #subscriptionPage .col .form-group{
        /* margin: 20px 10px; */
        width: 18vw;
    }

    #updateSubscription {
        font-size: 14px;
    }

    .col h3 {
        font-size: 18px;
    }

    .col div{
        font-size: 16px;
        top: 5px;
    }

    #mainPage.container{
        max-width: 95vw;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .col{
        max-width: 22vw;
    }

    .subscription{
        border-width: 3px;
        padding: 6px 3px;
        text-align: center;
        margin: 10px 0px;
    }
}