body {
    background: #DDDDDD;
}

.navbar {
    background-color: #3700ff;
    color: white;
    z-index: 5;
}

.page-container {
    margin-top: 75px;
}

.logo{
    width: 100px;
    height: 100px;
}

/* span.row{
    border: 5px;
    border-color: #800000;
    border-style: solid;
    padding: 10px 5px;
    text-align: center;
    margin: 20px 0px;
} */

/* span{
    border: 5px;
    border-color: #800000;
    border-style: solid;
    padding: 10px 5px;
    text-align: center;
    margin: 20px 0px;
} */

.col h3 {
    color: purple;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    width: 20vw;
    display: inline;
    text-align: center;
}

.col div {
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    top: 15px;
}

.col {
    padding: 0 5px;
}


#roseImg{
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#deleteAccount {
    display: block;
    margin: auto;
    background: darkred;
    color: white;
}

#roseFireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #3700ff;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}


#updateAccount {
    display: block;
    margin: auto;
    background: blue;
    color: white;
    margin-bottom: 50px;
}


#deleteSubscription {
    /* display: block;
    margin: auto;
    background: darkred;
    color: white; */
    font-size: 1.5rem;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #800000;
    color: white;
    z-index: 999;
}

#fab:active{
    transform: translateY(2px);
    opacity: 0.8;
}

#signOut{
    display: block;
    margin: auto;
    background: purple;
    color: white;
    margin-bottom: 50px;
}

svg{
    padding-top: 8px;
}


#notifications {
    display: block;
    margin: auto;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

#subscriptionPage.container{
    max-width: 95vw;
}
#mainPage.container{
    max-width: 85vw;
}

.subscription{
    border: 5px;
    border-color: #800000;
    border-style: solid;
    padding: 10px 5px;
    text-align: center;
    margin: 20px 0px;
}

#subscriptionPage .col .bmd-form-group{
    padding-top:0;
    height: 41px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
    width: 20vw;
}

#subscriptionPage .col .form-group{
    padding-top:0;
    height: 41px;
    margin: 50px 10px;
    width: 20vw;
    justify-content: flex-start;
}
